<!DOCTYPE html>
<html>
<head>
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
 <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
 <script src="https://cdn.firebase.com/js/simple-login/1.6.2/firebase-simple-login.js"></script>
<link rel="stylesheet" href="login\login.css">
</head>
<body ng-controller="loginCtrl">

<header class="container">
  <div class="row">
    <h1 class="title"> Whereabouts Screens</h1>
  </div>
</header>

<div class="row">
	<h3>Log in</h3>
</div>

<div  ng-controller="loginCtrl" class="form">
<div class="col-sm-4  col-sm-offset-4 input-group">
  <span  id="Email"></span>
  <input type="email" ng-model="user.email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
</div>
<div class="col-sm-4 col-sm-offset-4 input-group">
  <span  id="Password"></span>
  <input type="password" ng-model="user.password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
</div>
<div class="col-sm-offset-">
<button ng-click="SignIn($event)";" type="button" class="btn btn-default btn-lg">Login </button>
</div>
</div>
</body>
</html>




